/* font-family: 'DM Serif Display', serif;
font-family: 'Inter', sans-serif; */

:root {
  --header-font-family: "DM Serif Display", serif;
  --body-font-family: "Inter", sans-serif;
  --body-color: black;
  --primary-color: #ffd700;
  --secondary-color: #ffffff;
}

body {
  background: var(--body-color);
  padding: 140px;
}

h1 {
  color: var(--primary-color);
  font-family: var(--header-font-family);
  font-size: 72px;
}

div.introduction,
div.top-section {
  text-align: center;
}

div.introduction h2,
div.introduction h3,
div.top-section h2,
div.top-section h3 {
  color: var(--secondary-color);
  font-family: var(--body-font-family);
}

div.introduction h2,
div.top-section h2 {
  font-size: 24px;
}

div.introduction h3,
div.top-section h3 {
  font-size: 36px;
}

div.portrait-photos {
  padding: 36px 36px 0;
}

div.portrait-photos img.first-portrait-photo,
div.portrait-photos img.second-portrait-photo {
  width: 400px;
}

div.about-me,
div.my-experience,
div.contact-me {
  margin-top: 50px;
}

h2 .about-page-link,
h2 .experience-page-link,
h2 .contact-page-link {
  color: var(--primary-color);
  font-family: var(--header-font-family);
  line-height: 1.8;
  text-decoration: none;
}

h2 .about-page-link:hover,
h2 .experience-page-link:hover,
h2 .contact-page-link:hover {
  text-decoration: underline;
}

div.about-me p,
div.my-experience p,
div.contact-me p {
  color: var(--secondary-color);
  font-family: var(--body-font-family);
  font-size: 16px;
}

div.social-links .email-link-icon,
div.social-links .linkedin-link-icon,
div.social-links .instagram-link-icon {
  font-size: 30px;
}

div.top-section {
  margin-bottom: 80px;
}

div.content-section h2 {
  color: var(--primary-color);
  font-family: var(--header-font-family);
}

div.content-section a {
  color: var(--secondary-color);
  font-family: var(--body-font-family);
  text-decoration: none;
}

div.content-section a:hover {
  text-decoration: underline;
}

div.bottom-section h3.also-explore-tag {
  color: var(--primary-color);
  font-family: var(--header-font-family);
  font-style: italic;
}

div.bottom-section .about-link,
div.bottom-section .experience-link,
div.bottom-section .contact-link {
  color: var(--secondary-color);
  font-family: var(--body-font-family);
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
}

div.bottom-section .about-link:hover,
div.bottom-section .experience-link:hover,
div.bottom-section .contact-link:hover {
  text-decoration: underline;
}

@media (max-width: 700px) {
  h1 {
    font-size: 60px;
  }

  div.introduction h2,
  div.top-section h2 {
    font-size: 18px;
  }

  div.introduction h3,
  div.top-section h3 {
    font-size: 28px;
  }

  div.portrait-photos {
    padding: 12px;
  }

  div.top-section {
    margin-bottom: 50px;
  }
}

@media (max-width: 576px) {
  body {
    padding: 100px;
  }

  h1 {
    font-size: 40px;
  }

  div.introduction h2,
  div.top-section h2 {
    font-size: 16px;
  }

  div.introduction h3,
  div.top-section h3 {
    font-size: 22px;
  }

  div.portrait-photos {
    padding: 4px;
  }

  div.about-me p,
  div.my-experience p,
  div.contact-me p {
    font-size: 14px;
  }

  div.top-section {
    margin-bottom: 40px;
  }
}

@media (max-width: 440px) {
  body {
    padding: 80px;
  }

  div.top-section {
    margin-bottom: 32px;
  }
}

@media (max-width: 400px) {
  body {
    padding: 80px 60px;
  }
}

@media (max-width: 355px) {
  body {
    padding: 60px 40px;
  }

  h1 {
    font-size: 34px;
  }

  div.introduction h3,
  div.top-section h3 {
    font-size: 20px;
  }
}
