/* font-family: 'DM Serif Display', serif;
font-family: 'Inter', sans-serif; */

:root {
  --header-font-family: "DM Serif Display", serif;
  --body-font-family: "Inter", sans-serif;
  --body-color: black;
  --primary-color: #ffd700;
  --secondary-color: #ffffff;
}

body {
  background: var(--body-color);
  padding: 0 140px 80px;
}

h1 {
  color: var(--primary-color);
  font-family: var(--header-font-family);
  font-size: 72px;
}

div.navigation-bar {
  margin-top: 20px;
}

nav img.my-website-logo {
  height: 100px;
}

nav ul {
  font-family: var(--body-font-family);
  font-size: 18px;
  list-style: none;
  padding: 0;
}

nav li {
  margin-right: 20px;
}

nav li a {
  color: var(--secondary-color);
  text-decoration: none;
  transition: all 150ms ease-in-out;
}

nav li a:hover {
  color: var(--primary-color);
}

nav li a.active {
  font-weight: bold;
}

div.introduction,
div.top-section {
  text-align: center;
  margin-top: 48px;
}

div.introduction h2,
div.introduction h3,
div.top-section h2,
div.top-section h3 {
  color: var(--secondary-color);
  font-family: var(--body-font-family);
}

div.introduction h2,
div.top-section h2 {
  font-size: 24px;
}

div.introduction h3,
div.top-section h3 {
  font-size: 36px;
}

div.portrait-photos {
  padding: 36px 36px 0;
}

div.portrait-photos img.first-portrait-photo,
div.portrait-photos img.second-portrait-photo {
  width: 400px;
}

div.about-me,
div.my-experience,
div.contact-me {
  margin-top: 50px;
}

h2 .about-page-link,
h2 .experience-page-link,
h2 .contact-page-link {
  color: var(--primary-color);
  font-family: var(--header-font-family);
  line-height: 1.8;
  text-decoration: none;
  transition: all 150ms ease-in-out;
}

h2 .about-page-link:hover,
h2 .experience-page-link:hover,
h2 .contact-page-link:hover {
  text-decoration: underline;
}

div.about-me p,
div.my-experience p,
div.contact-me p,
footer {
  color: var(--secondary-color);
  font-family: var(--body-font-family);
  font-size: 16px;
}

div.social-links .email-link-icon,
div.social-links .linkedin-link-icon,
div.social-links .instagram-link-icon {
  font-size: 30px;
}

div.top-section {
  margin-bottom: 80px;
}

div.content-section h2 {
  color: var(--primary-color);
  font-family: var(--header-font-family);
}

div.content-section p,
div.content-section ul {
  color: var(--secondary-color);
}

div.content-section a {
  color: var(--secondary-color);
  font-family: var(--body-font-family);
  text-decoration: none;
  transition: all 150ms ease-in-out;
}

div.content-section a:hover {
  text-decoration: underline;
}

div.content-sub-section {
  margin-bottom: 52px;
  font-family: var(--body-font-family);
  font-weight: light;
  line-height: 1.5;
}

div.bottom-section,
div.bottom-section .social-links {
  margin-top: 80px;
}

div.bottom-section h3.also-explore-tag {
  color: var(--primary-color);
  font-family: var(--header-font-family);
  font-style: italic;
}

div.bottom-section .about-link,
div.bottom-section .experience-link,
div.bottom-section .contact-link {
  color: var(--secondary-color);
  font-family: var(--body-font-family);
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  transition: all 150ms ease-in-out;
}

div.bottom-section .about-link:hover,
div.bottom-section .experience-link:hover,
div.bottom-section .contact-link:hover {
  text-decoration: underline;
}

footer {
  margin-top: 60px;
  text-align: center;
}

footer a {
  color: var(--secondary-color);
}

@media (max-width: 760px) {
  nav ul {
    font-size: 14px;
  }
}

@media (max-width: 700px) {
  h1 {
    font-size: 60px;
  }

  nav img.my-website-logo {
    height: 64px;
  }

  nav ul {
    font-size: 13px;
  }

  nav li {
    margin-right: 10px;
  }

  div.introduction h2,
  div.top-section h2 {
    font-size: 18px;
  }

  div.introduction h3,
  div.top-section h3 {
    font-size: 28px;
  }

  div.portrait-photos {
    padding: 12px;
  }

  div.top-section {
    margin-bottom: 50px;
  }

  div.bottom-section,
  div.bottom-section .social-links {
    margin-top: 50px;
  }
}

@media (max-width: 576px) {
  body {
    padding: 0 100px 60px;
  }

  h1 {
    font-size: 40px;
  }

  nav img.my-website-logo {
    display: none;
  }

  nav li {
    margin-right: 6px;
    margin-left: 6px;
  }

  div.introduction h2,
  div.top-section h2 {
    font-size: 16px;
  }

  div.introduction h3,
  div.top-section h3 {
    font-size: 22px;
  }

  div.portrait-photos {
    padding: 4px;
  }

  div.about-me p,
  div.my-experience p,
  div.contact-me p,
  div.content-sub-section p,
  div.content-sub-section ul,
  footer {
    font-size: 14px;
  }

  div.top-section {
    margin-bottom: 40px;
  }

  div.bottom-section,
  div.bottom-section .social-links {
    margin-top: 40px;
  }

  div.social-links .email-link-icon,
  div.social-links .linkedin-link-icon,
  div.social-links .instagram-link-icon {
    font-size: 26px;
  }
}

@media (max-width: 440px) {
  body {
    padding: 0 80px 40px;
  }

  nav ul {
    font-size: 12px;
  }

  nav li {
    margin-right: 4px;
    margin-left: 4px;
  }

  div.top-section {
    margin-bottom: 32px;
  }

  div.content-sub-section p {
    font-size: 14px;
  }

  div.bottom-section,
  div.bottom-section .social-links {
    margin-top: 32px;
  }
}

@media (max-width: 400px) {
  body {
    padding: 0 60px 32px;
  }
}

@media (max-width: 355px) {
  body {
    padding: 0 40px 28px;
  }

  h1 {
    font-size: 34px;
  }

  div.introduction h3,
  div.top-section h3 {
    font-size: 20px;
  }

  div.social-links .email-link-icon,
  div.social-links .linkedin-link-icon,
  div.social-links .instagram-link-icon {
    font-size: 20px;
  }
}
